{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Информация об авторе сайта</h1>
<p>
  Всем привет! Меня зовут Марат и я начинающий программист. Осваиваю язык программирования Python, а с ним и фреймворк Django.
  Это мой первый сайт, сделанный под чутким руководством команды Яндекс.Практикума. Тут все по простому, но сделано с душой.
  Программистом стал после юриста и экономиста, потому что программы и компьютер нравятся с детства. Хочу быть одним из тех,
  кто создает полезные вещи для хороших людей!    
</p>
<p>
  В движении к программированию мне помогла советом моя мама, и котики! Мур мяу!
</p>
<p><a href="https://github.com/smaspb17">Мой аккаунт в Github</a></p>
{% endblock %} 